<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <%= image_tag @about.image, class:'img-fluid', alt:'About Image' if @about.image.attached? %>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
        <h3><%= @about.title%></h3>
        <p class="fst-italic">
          <%= raw @about.description%>
        </p>
      </div>
    </div>
  </div>
</section>
