<div class="row">
  <div class="col-sm-10 col-md-10">
    <div class="dataTables_length" id="dataTable_length">     
      <% if params[:controller] == "admin/contacts" && @contacts_unread_count > 0 %>
        <%= form_tag mark_all_as_read_admin_contacts_path, method: :patch do %>
          <button type="submit" class="btn btn-primary btn-icon-split" title="Mark all Read">
            <span class="icon text-white"><i class="fas fa-check-double"></i></span>
            <span class="text">Mark All Read</span>
          </button>
        <% end %>
      <%end%>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div id="dataTable_filter" class="dataTables_filter">
      <label>
        <input type="search" class="form-control bg-light small title_filter" placeholder="Search for..." aria-controls="dataTable">
      </label>
    </div>
  </div>
</div>